version: '3.8'
services:
  flask-app:
    environment:
    - DATABASE_URI:mysqlite:///data.db
      MY_SECRET_KEY:shhhhhhh
    image: rwright1992/flask-test-app:latest
    build: ./
    ports:
    - target: 5000
      published: 5000
      protocol: tcp
